{% extends 'Admin/baseadmin.html.twig' %}

{% block pageTitle %}Administration des Modèles{% endblock %}

{% block content %}
    <h1>Administration des Modèles <a class="btn btn-success btn-lg pull-right" href="admin.php?route=adminmodeladd">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"> Ajouter un modèle</span>
        </a></h1>
    <div class="container">

        {% for category, models in modelsByCat %}
            <details>
                <summary>
                    <h2><span class="glyphicon glyphicon-triangle-bottom"
                              aria-hidden="true"></span> Catégorie : <strong>{{ category | capitalize }}</strong>
                        <small class="pull-right">{{ models | length }} modèles</small>
                    </h2>
                </summary>
                <ul class="list-group">
                    {% for model in models %}
                        <li class="list-group-item">
                            <h3>Modèle : <strong>{{ model.name }}</strong> ( existe en {{ declinationsNumber[model.id] }}
                                couleur{{ (declinationsNumber[model.id] > 1) ? 's' }} )
                                <small class="pull-right">{{ loop.index }} / {{ models | length }}</small>
                            </h3>

                            <form action="admin.php?route=adminmodelupdate" method='post'>
                                <div class="form-group">
                                    <input type="hidden" class="form-control" name="model_id" value="{{ model.id }}">
                                </div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"
                                                                                    aria-hidden="true"> Modifier ce modèle</span>
                                </button>
                            </form>

                            <form action="admin.php" method='get'>
                                <div class="form-group">
                                    <input type="hidden" class="form-control" name="route" value="admindeclination">
                                    <input type="hidden" class="form-control" name="modelId" value="{{ model.id }}">
                                </div>
                                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-list"
                                                                                 aria-hidden="true"> Gérer les réalisations de ce modèle</span>
                                </button>
                            </form>

                            <form action="admin.php?route=adminmodeldelete" method='post'>
                                <div class="form-group">
                                    <input type="hidden" class="form-control" name="model_id" value="{{ model.id }}">
                                </div>
                                <button type="submit"
                                        class="btn btn-danger" {{ (declinationsNumber[model.id] > 0) ? 'disabled="disabled"' }}><span
                                            class="glyphicon glyphicon-trash"
                                            aria-hidden="true"> Supprimer ce modèle</span>
                                </button>
                                {% if declinationsNumber[model.id] > 0 %}
                                    <strong> Il y a {{ declinationsNumber[model.id] }} variantes associés à ce modèle,
                                        vous
                                        ne
                                        pouvez pas
                                        le supprimer.</strong>
                                {% endif %}
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </details>
        {% endfor %}
    </div>

{% endblock %}
