{% extends 'Admin/baseadmin.html.twig' %}

{% block content %}

    <!--Thumbnail des catégories -->
    <div class="container">
        <form action="admin.php?route=adminhomeupdate&id={{ category.id }}" method="POST">
            <div class="category-thumbnail">
                <div class="row">
                    <h1>{{ category.name | capitalize }}</h1>
                    <div class="col-lg-offset-1 col-lg-3">
                        <div class="thumbnail">
                            <img src="assets/images/{{ declinations[1].mainImage }}" alt="">
                            <p>{{ models[declinations[1].modelId] | capitalize }}</p>
                            <select name="models[]" class="text-center">
                                {% for model in modelsInCat %}
                                    <option value="{{ model.id }}" {{ (model.id == declinations[1].modelId ? "selected") }}>{{ model.name | capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-offset-1 col-lg-4">
                        <div class="row">
                            {% for i in 2..5 %}
                                <div class="col-lg-6">
                                    <div class="thumbnail">
                                        <img src="assets/images/{{ declinations[i].mainImage }}" alt="">
                                        <p>{{ models[declinations[i].modelId] | capitalize }}</p>
                                        <select name="models[]" class="text-center">
                                            {% for model in modelsInCat %}
                                                <option value="{{ model.id }}" {{ (model.id == declinations[i].modelId ? "selected") }}>{{ model.name | capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Valider</button>
            <a href="admin.php?route=adminhome" class="btn btn-danger pull-right"><span
                        class="glyphicon glyphicon-remove"></span> Annuler</a>
        </form>
    </div>
{% endblock %}

