{% extends 'Admin/baseadmin.html.twig' %}

{% block pageTitle %}{{ model.name }}{% endblock %}

{% block content %}

    <div class="container">

        <h1>Administrer les créations du modèle {{ model.name }}</h1>

        {% for declination in declinations %}
            <div class="row">
                <div class="col-lg-2">
                    <figure class="thumbnail secondary-thumbnail-model">
                        <img class="img-responsive" src="assets/images/{{ declination.secondaryImage }}"
                             alt="Image secondaire du modèle {{ model.name }} couleur {{ colors[declination.colorId].name }}">
                    </figure>
                </div>

                <div class="col-lg-2">
                    <figure class="thumbnail main-thumbnail-model">
                        <img class="img-responsive" src="assets/images/{{ declination.mainImage }}"
                             alt="Image principale du modèle {{ model.name }} couleur {{ colors[declination.colorId].name }}">
                    </figure>
                </div>

                <div class="col-lg-2">
                    <p>Couleur : {{ colors[declination.colorId].name | capitalize }}</p>
                </div>

                <div class="col-lg-2">
                    <form action="admin.php?route=admindeclinationdelete" method='post'>
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="id" value="{{ declination.id }}">
                        </div>
                        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-minus"
                                                                           aria-hidden="true"></span> Supprimer
                        </button>
                    </form>
                </div>

                <div class="col-lg-2">
                    <form action="admin.php?route=admindeclinationupdate" method='post'>
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="id" value="{{ declination.id }}">
                        </div>
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-edit"
                                                                         aria-hidden="true"></span> Modifier
                        </button>
                    </form>
                </div>

                <div class="col-lg-2">
                    {% if not declination.mainColor %}
                        <form action="admin.php?route=admindeclination-change-maincolor" method='post'>
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="id" value="{{ declination.id }}">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                                </span> Définir comme couleur principale
                            </button>
                        </form>
                    {% else %}
                        <p class="alert alert-info"><span class="glyphicon glyphicon-star" aria-hidden="true">
                                </span> Cette couleur représente le modèle dans le catalogue</p>
                    {% endif %}
                </div>

            </div>

            <hr>

        {% endfor %}
        <div class="row">
            <form action="admin.php?route=admindeclinationadd" method='post'>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="model_id" value="{{ model.id }}">
                </div>
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"
                                                                    aria-hidden="true"></span> Ajouter une création
                </button>


                <a href="admin.php?route=adminmodel" class="btn btn-danger pull-right"><span
                            class="glyphicon glyphicon-remove"
                            aria-hidden="true"></span> Revenir aux modèles</a>
            </form>
        </div>
    </div>

{% endblock %}
