<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Karura - {% block pageTitle %}Accueil{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/styleAdmin.css">

</head>

<body>

{% include 'header.html.twig' %}

{# Dynamic message for user #}
{% if message %}
    <div class="row">
        <div class="alert alert-{{ message_type }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{ message_title }}</strong> {{ message }}
            {#
            - ?? messages multiples : à coup de for message in messages via un $_SESSION['messages']
            - ?? message ul : à coup de ul via un array avec title=key et message=value
            <strong>{{ message_title }}</strong> <ul>{% for msg in message %}<li>{{ msg | raw }}</li> {% endfor %}</ul>
            #}
        </div>
    </div> <!-- end row -->
{% endif %}

{% block content %}{% endblock %}

{% include 'footer.html.twig' %}

<!-- import Jquery and BS JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../assets/js/script.js"></script>

</body>
</html>
