{% extends 'base.html.twig' %}
{% block content %}
    {% include 'slider.html.twig' %}

    <!--Thumbnail des catégories -->
    <div class="container">
        {% for category, declinations in declinationsByCat %}
            {# add One rectangle by category #}
            {% if declinations | length > 1 %}
                <div class="category-thumbnail">
                    <div class="row">
                        <div class="hidden-sm hidden-xs {{ (loop.index % 2) ?: 'col-md-push-8' }} col-md-3">
                            <div class="title-block">
                                <span>{{ category | capitalize }}</span>
                            </div>
                        </div>
                        <div class="hidden-md hidden-lg col-sm">
                            <div class="title-block-sm">
                                <span>{{ category | capitalize }}</span>
                            </div>
                        </div>

                        <div class="col-xs-offset-2 col-xs {{ (loop.index % 2) ?: 'col-md-pull-4' }} col-md-offset-1 col-md-3">
                            <div class="main-thumbnail">
                                <a href="index.php?route=product&modelId={{ declinations[1].modelId }}&colorId={{ declinations[1].colorId }}">
                                    <div class="thumbnail">
                                        <img src="assets/images/{{ declinations[1].mainImage }}" alt="">
                                        <p class="text">{{ models[declinations[1].modelId] | capitalize }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="hidden-sm hidden-xs {{ (loop.index % 2) ?: 'col-md-pull-4' }} col-md-offset-1 col-md-4">
                            <div class="thumbnail-sm">
                                <div class="row">
                                    {% for i in 2..5 %}
                                        <div class="col-md-6">
                                            <a href="index.php?route=product&modelId={{ declinations[i].modelId }}&colorId={{ declinations[i].colorId }}">
                                                <div class="thumbnail">
                                                    <img src="assets/images/{{ declinations[i].mainImage }}" alt="">
                                                    <p class="text">{{ models[declinations[i].modelId] | capitalize }}</p>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

