{% extends 'base.html.twig' %}
{% block content %}
    {% include 'slider.html.twig' %}

    <!--Thumbnail des catégories -->
    <div class="container">
        {% for category, declinations in declinationsByCat %}
            {# add One rectangle by category #}
            <div class="category-thumbnail">
                <div class="row">
                    <div class="hidden-xs {{ (loop.index % 2) ?: 'col-lg-push-8' }} col-lg-3">
                        <div class="title-block">
                            <span>{{ category | capitalize }}</span>
                        </div>
                    </div>
                    <div class="hidden-lg col-sm-3">
                        <div class="title-block-sm">
                            <span>{{ category | capitalize }}</span>
                        </div>
                    </div>

                    <div class="col-lg-offset-1 col-lg-3">
                        <div class="main-thumbnail">
                            <a href="index.php?route=product&modelId={{ declinations[0].modelId }}&colorId={{ declinations[0].colorId }}">
                                <div class="thumbnail">
                                    <img src="assets/images/{{ declinations[0].mainImage }}" alt="">
                                    <p class="text">{{ models[declinations[0].modelId] | capitalize }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="hidden-xs {{ (loop.index % 2) ?: 'col-lg-pull-8' }} col-lg-offset-1 col-lg-4">
                        <div class="thumbnail-sm">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="index.php?route=product&modelId={{ declinations[1].modelId }}&colorId={{ declinations[1].colorId }}">
                                        <div class="thumbnail">
                                            <img src="assets/images/{{ declinations[1].mainImage }}" alt="">
                                            <p class="text">{{ models[declinations[1].modelId] | capitalize }}</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="index.php?route=product&modelId={{ declinations[2].modelId }}&colorId={{ declinations[2].colorId }}">
                                        <div class="thumbnail">
                                            <img src="assets/images/{{ declinations[2].mainImage }}" alt="">
                                            <p class="text">{{ models[declinations[2].modelId] | capitalize }}</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="index.php?route=product&modelId={{ declinations[3].modelId }}&colorId={{ declinations[3].colorId }}">
                                        <div class="thumbnail">
                                            <img src="assets/images/{{ declinations[3].mainImage }}" alt="">
                                            <p class="text">{{ models[declinations[3].modelId] | capitalize }}</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="index.php?route=product&modelId={{ declinations[4].modelId }}&colorId={{ declinations[4].colorId }}">
                                        <div class="thumbnail">
                                            <img src="assets/images/{{ declinations[4].mainImage }}" alt="">
                                            <p class="text">{{ models[declinations[4].modelId] | capitalize }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}

