{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-8">
    {% for declinations in declinationsByCat %}
            <div class="row">
                <div class="col-lg-6">
                    <figure class="thumbnail">
                        <img src="assets/images/{{ declination.mainImage }}" alt="">
                        <figcaption class="caption">
                            <p>{{ declination.mainImage }}</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-6">
                    <figure class="thumbnail">
                        <img src="assets/images/{{ declination.mainImage }}" alt="">
                        <figcaption class="caption">
                            <p>{{ declination.mainImage }}</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
    {% endfor %}
    {% for declinations in declinationsByCat %}
            <div class="row">
                <div class="col-lg-6">
                    <figure class="thumbnail">
                        <img src="assets/images/{{ declination.mainImage }}" alt="">
                        <figcaption class="caption">
                            <p>{{ declination.mainImage }}</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-6">
                    <figure class="thumbnail">
                        <img src="assets/images/{{ declination.mainImage }}" alt="">
                        <figcaption class="caption">
                            <p>{{ declination.mainImage }}</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        {% endfor %}
    {% for declinations in declinationsByCat %}
        <div class="col-lg-4">
            <figure class="thumbnail">
                <img src="assets/images/{{ declination.mainImage }}" alt="">
                <figcaption class="caption">
                    <p>{{ declination.mainImage }}</p>
                </figcaption>
            </figure>
        </div>
    </div>
    {% endfor %}
{% endblock %}