{% extends 'base.html.twig' %}

{% block pageTitle %}Modèle{% endblock %}

    {% block content %}

        <div class="container">
            <div class="row main-model-row">
                <div class="col-lg-2 hidden-xs">
                    {% if declinationByColor.secondaryImage is not empty %}
                        <div class="thumbnail secondary-thumbnail-model">
                            <a href="#" data-toggle="modal" data-target="#2">
                                <img class="img-responsive" src="assets/images/{{ declinationByColor.secondaryImage }}"
                                     alt="Image du modele">
                            </a>
                            <div class="modal fade" id="2" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h2 class="modal-title">{{ model.name }}</h2>
                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/{{ declinationByColor.secondaryImage }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>


                <div class="col-xs-12 col-lg-4">
                    <div class="thumbnail main-thumbnail-model">
                        <a href="#" data-toggle="modal" data-target="#1">
                        <img class="img-responsive" src="assets/images/{{ declinationByColor.mainImage }}"
                             alt="Image du modèle">
                        </a>
                        <div class="modal fade" id="1" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h2 class="modal-title">{{ model.name }}</h2>
                                    </div>
                                    <div class="modal-body">
                                        <img src="assets/images/{{ declinationByColor.mainImage }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <h1>{{ model.name }}</h1>
                    <p>{{ model.description }}</p>
                    <form method="POST" action="index.php?route=contact">
                        <input class="model-button" type="submit" name="contact" value="Nous contacter">
                    </form>
                </div>
            </div>

            <div class="row declination-row">
                {% if (declinations | length)>1 %}
                    {% for declination in declinations %}
                        <div class="col-xs-4 col-lg-2">
                            <a href="index.php?route=product&modelId={{ declination.modelId }}&colorId={{ declination.colorId }}">
                                <div class="thumbnail declination-model">
                                    <img class="img-responsive" src="assets/images/{{ declination.mainImage }}"
                                         alt="Image du modèle">
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    {% endblock %}