{% extends 'base.html.twig' %}

{% block pageTitle %}Recherche{% endblock %}

{% block content %}
    <p>{{  declinations | length }} résulats trouvé{{ (declinations | length)>1 ? 's' }} {{ searchInput ? ' pour le terme "' ~ searchInput ~ '"' }}</p>

    <div class="container">
    <div class="row">

        {% for declination in declinations %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <figure class="thumbnail">
                    <img src="assets/images/{{ declination.mainImage }}" alt="">
                    <figcaption class="caption">
                        <p class="text">{{ declination.mainImage }}</p>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}

    </div>
    </div>

{% endblock %}
